@import "../../../sass/variables.scss";

header {
  background-color: #f3f3f3;
  padding: 0;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
  width: 100%;
}

nav {
  text-align: right;
  width: 100%;
  height: 48px;
  padding-left: 10px;
  margin: 0 auto 0 auto;
}

.container-logo {
  height: 38px;
  margin: 5px 30px 5px 0;
  float: left;

  .href-logo {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    padding-left: 0;
    color: #008100;
    text-decoration: none;
    vertical-align: -12px;

    .image-logo {
      float: left;
      height: 38px;
    }
  }
}

.container-info-contact {
  float: left;
  height: inherit;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;

  .href-info-contact {
    color: #888;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0;
    padding: 0;

    &:hover {
      background-color: $primary-color;
    }
  }
}

li {
  display: inline-block;
}

.container-button {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.main-button {
  color: #4d4d4d;
  border-radius: 0;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-color-darker;
  }
}

button.menu_button {
  padding: 9px;
  min-width: 48px;
  max-height: 48px;

  .icon_menu {
    font-size: 30px;
    vertical-align: inherit;
  }
}

.mat-menu-panel.menu_panel {
  position: relative;
  top: 10px;
  right: 10px;
  background-color: #f3f3f3;
  border-radius: 0;
}

.container-search {
  float: left;
  margin: 9px 0;
  height: 30px;
}

.search_field {
  width: 300px;
}

.mat-form-field-appearance-fill {
  height: 30px;
}

.mat-form-field-appearance-fill .mat-form-field-wrapper {
  padding: 0 !important;
  height: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 3px 0 3px 5px !important;
  background-color: white;
  border-radius: 0 !important;
  height: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-fill .mat-form-field-prefix {
  margin: 0;
  margin-right: 5px;
  text-align: center;
  height: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-suffix {
  height: 100%;
  .material-icons {
    vertical-align: top;
  }
  .mat-icon-button.close_button {
    height: 100% !important;
    width: 24px !important;
    line-height: 30px !important;
  }
  .mat-button-wrapper {
    height: 100%;
    display: block;
    width: 24px;

  }
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  border: none;
  padding: 0;
  margin-top: 0;
  height: 100%;
  input {
    margin: 0;
  }
}

.icon_search {
  font-size: 18px;
  margin: 3px 5px;
}

.close_button {
  :hover {
    cursor: pointer;
  }
}

.icon_close {
  font-size: 18px;
}

.mat-form-field-appearance-fill .mat-form-field-label-wrapper {
  top: -13px;
  padding-top: 0;
  bottom: 0;
}

.container-search mat-form-field.mat-form-field-appearance-fill {
  font-size: 14px !important;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search_details {
  border-radius: 0 !important;
  height: 100%;
  min-width: 20px !important;
  padding: 3px 0 !important;
  line-height: 30px;
  top: 2px;

  .mat-button-wrapper {
    display: block;
    height: 24px;
    vertical-align: top;
    .material-icons {
      vertical-align: top;
      font-size: 15px;
      margin-top: 5px;
    }
  }
}

.mat-menu-panel.search_panel {
  border-radius: 0;
  width: 320px;
  max-width: 320px;
  font-size: 13px;
  padding: 10px;
  .mat-menu-content {
    padding: 0;
    label {
      display: block;
    }
  }
}

form {
  .mat-form-field {
    width: 220px;
  }
  .small_input {
    width: 110px;
    padding-right: 5px;
  }
}

mat-accordion {
  font-size: 13px;
}

div.mat-expansion-panel-content:not(.mat-expanded) {
  height: 0 !important;
  visibility: hidden !important;
}

.mat-expansion-panel-header {
  height: 48px;
}

button.main-button.search {
  float: right;
  margin-top: 10px;
}
