<header>
  <nav>

    <div class="container-logo">
      <a class="href-logo" href="" title="BenchMarks">
        <img class="image-logo" src="../../../assets/logo.png" alt="Logo">
        BenchMarks
      </a>
    </div>

    <button mat-button class="menu_button" [matMenuTriggerFor]="menu" *ngIf="innerWidth <= 630" title="Menu">
      <i class="material-icons icon_menu">menu</i>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" class="menu_panel">

      <div class="container-button">
        <button mat-raised-button class="main-button" href="" routerLink="./points" title="Dodaj punkt">Dodaj punkt</button>
      </div>

      <app-search [searchForm]="searchForm"></app-search>

    </mat-menu>

    <ng-container *ngIf="innerWidth >= 630">
      <div (click)="$event.stopPropagation();">
        <app-search [searchForm]="searchForm" (click)="$event.stopPropagation();"></app-search>
      </div>

      <!--Button add point-->
      <div class="container-button">
        <button mat-raised-button class="main-button" href="" routerLink="./points" title="Dodaj punkt">Dodaj punkt</button>
      </div>

    </ng-container>
  </nav>
</header>
