<header>
  <nav>

    <div class="container-logo">
      <a class="href-logo" href="" title="Osnowa">
        <img class="image-logo" src="../../../assets/logo.png" alt="Logo">
        Osnowa
      </a>
    </div>

    <div class="container-info-contact">
      <ul>
        <li>
          <button mat-button class="href-info-contact" href="" title="Informacje">Informacje</button>
        </li>
        <li>
          <button mat-button class="href-info-contact" href="" title="Kontakt">Kontakt</button>
        </li>
      </ul>
    </div>

    <!--Button add point-->
    <div class="container-button">
      <button mat-raised-button class="main-button" href="">{{"Dodaj punkt"}}</button>
    </div>

    <div class="container-button">
      <button mat-raised-button class="main-button" href="">
        <mat-icon>search</mat-icon>
        {{" Szukaj..."}}
      </button>
    </div>
  </nav>
</header>
