@import "../../../sass/variables.scss";

header {
  background-color: #f3f3f3;
  padding: 0;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
  width: 100%;
}

nav {
  text-align: right;
  width: 100%;
  height: 48px;
  padding-left: 10px;
  margin: 0 auto 0 auto;
}

.container-logo {
  height: 38px;
  margin: 5px 30px 5px 0;
  float: left;

  .href-logo {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    padding-left: 0;
    color: #008100;
    text-decoration: none;
    vertical-align: -12px;

    .image-logo {
      float: left;
      height: 38px;
    }
  }
}

.container-info-contact {
  float: left;
  height: inherit;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;

  .href-info-contact {
    color: #888;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0;
    padding: 0;

    &:hover {
      background-color: $primary-color;
    }
  }
}

li {
  display: inline-block;
}

.container-button {
  float: left;
  margin-top: 5px;
  margin-left: 10px;

  .main-button {
    color: #4d4d4d;
    border-radius: 0;
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color-darker;
    }
  }
}

button.menu_button {
  padding: 9px;
  min-width: 48px;
  max-height: 48px;

  .icon_menu {
    font-size: 30px;
    vertical-align: inherit;
  }
}

.mat-menu-panel {
  position: relative;
  top: 10px;
  right: 10px;
  background-color: #f3f3f3;
}

.container-search {
  float: left;
  margin: 9px 0;
  height: 30px;
}

//.mat-form-field-appearance-fill {
//  height: 30px;
//}

.mat-form-field-appearance-fill .mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  //padding: 3px 5px !important;
  background-color: white;
  border-radius: 0 !important;
  //height: 30px;
}

//.mat-form-field-appearance-fill .mat-form-field-infix {
//  border: none;
//  padding: 0;
//  margin-top: 0;
//  //line-height: 30px;
//}
//
//.mat-form-field-appearance-fill .mat-form-field-prefix {
//  margin: 0;
//  margin-right: 10px;
//  text-align: center;
//  height: 100%;
//}

.icon_search {
  font-size: 18px;
}

.mat-form-field-appearance-fill .mat-form-field-label-wrapper {
  //top: -20px;
  //padding: 0;

}

.container-search mat-form-field.mat-form-field-appearance-fill{
  font-size: 14px !important;
}
