@import "../../../sass/variables.scss";

.map {
  height: auto;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 50px;
  cursor: move;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  height: 120px;
  z-index: 9999;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  z-index: 1000;
  position: absolute;
  top: 60px;
  left: 55px;
  width: 34px;
  height: 33px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  background-clip: padding-box;
  text-align: center;
  padding:1px;
  &:hover{
    background-color: $primary-color;
    cursor: pointer;
  }

  .icon_localization {
    font-size: 22px;
    display: block;
  }
}
