<!--NAGŁÓWEK POLA BOCZNEGO-->
<app-side-panel-header [header]="header" [pointId]="point.id"></app-side-panel-header>

<div class="detail-side-container" [ngStyle]="{'overflow': scrollBar }">

  <!--WGS84-->
  <div class="location_container">
    <i class="material-icons icon_place">place</i>
    <sub>WGS84</sub>
  </div>

  <mat-form-field class="short_field">
    <mat-label>Długość WGS84</mat-label>
    <input matInput type=text name="Y_WGS84" id="Y_WGS84" value="{{ point.X_WGS84 | number: '.4' }}" readonly>
  </mat-form-field>

  <mat-form-field class="short_field">
    <mat-label>Szerokość WGS84</mat-label>
    <input matInput type=text name="X_WGS84" id="X_WGS84" value="{{ point.Y_WGS84 | number: '.4' }}" readonly>
  </mat-form-field>

  <!--2000-->
  <div class="location_container">
    <i class="material-icons icon_place">place</i>
    <sub>2000</sub>
  </div>

  <mat-form-field class="short_field">
    <mat-label>Długość 2000</mat-label>
    <input matInput type=text name="Y_2000" id="Y_2000" value="{{ point.X_2000 | number: '.4' : 'fr' | toDot}}"
           readonly>
  </mat-form-field>

  <mat-form-field class="short_field">
    <mat-label>Szerokość 2000</mat-label>
    <input matInput type=text name="X_2000" id="X_2000" value="{{ point.Y_2000 | number: '.4' : 'fr' | toDot}}"
           readonly>
  </mat-form-field>

  <!--lokalne-->
  <div class="location_container">
    <i class="material-icons icon_place">place</i>
    <sub> lokalne</sub>
  </div>

  <mat-form-field class="short_field">
    <mat-label>Długość lokalna</mat-label>
    <input matInput type=text name="Y_local" id="Y_local" value="{{ point.X_local | number: '.4' }}" readonly>
  </mat-form-field>

  <mat-form-field class="short_field">
    <mat-label>Szerokość lokalna</mat-label>
    <input matInput type=text name="X_local" id="X_local" value="{{ point.Y_local | number: '.4' }}" readonly>
  </mat-form-field>


  <p>Typ osnowy: {{ point.controlType }}</p>
  <p>Klasa: {{ point.controlClass }}</p>
  <p>Numer katalogowy: {{ point.id }}</p>
  <p>H (AMSTERDAM): {{ point.hAmsterdam }}</p>
  <p>H (KRONSZTADT 86): {{ point.hKronsztadt }}</p>

  <div class="form_element">
    <label>Lokalizacja:</label>
  </div>

  <mat-form-field class="short-width left">
    <input type="text" placeholder="Kraj" matInput value="{{ point.country }}" readonly>
  </mat-form-field>

  <mat-form-field class="short-width right">
    <input type="text" placeholder="Województwo" matInput value="{{ point.state }}" readonly>
  </mat-form-field>

  <mat-form-field class="short-width left">
    <input type="text" placeholder="Powiat" matInput value="{{ point.district }}" readonly>
  </mat-form-field>

  <mat-form-field class="short-width right">
    <input type="text" placeholder="Gmina" matInput value="{{ point.county }}" readonly>
  </mat-form-field>


  <mat-form-field class="short-width left">
    <input type="text" placeholder="Miejscowość" matInput value="{{ point.locality }}" readonly>
  </mat-form-field>

  <mat-form-field class="short-width right">
    <input type="text" placeholder="Dzielnica" matInput value="{{ point.city_district }}" readonly>
  </mat-form-field>


  <mat-form-field class="short-width left">
    <input type="text" placeholder="Ulica" matInput value="{{ point.road }}" readonly>
  </mat-form-field>

  <mat-form-field class="short-width right">
    <input type="text" placeholder="Numer domu" matInput value="{{ point.house_number }}" readonly>
  </mat-form-field>


  <p>Stabilizacja: {{ point.stabilization }}</p>
  <p>Punkt odnaleziono w terenie: {{ point.found }}</p>

  <app-photos-display [imagess]="images" (scrollBarView)="openPreview($event)" *ngIf="images.length > 0"></app-photos-display>

</div>
