<!--NAGŁÓWEK POLA BOCZNEGO-->
<app-side-panel-header [header]="header" [pointId]="point.id"></app-side-panel-header>

<div class="detail-side-container" [ngStyle]="{'overflow': scrollBar }">

  <!--WGS84-->
  <div class="location_container">
    <i class="material-icons icon_place">place</i>
    <sub>WGS84</sub>
  </div>

  <mat-form-field class="short_field">
    <mat-label>Długość WGS84</mat-label>
    <input matInput type=text name="Y_WGS84" id="Y_WGS84" value="{{ point.X_WGS84 | number: '.4' }}" readonly>
  </mat-form-field>

  <mat-form-field class="short_field">
    <mat-label>Szerokość WGS84</mat-label>
    <input matInput type=text name="X_WGS84" id="X_WGS84" value="{{ point.Y_WGS84 | number: '.4' }}" readonly>
  </mat-form-field>

  <!--2000-->
  <div class="location_container">
    <i class="material-icons icon_place">place</i>
    <sub>2000</sub>
  </div>

  <mat-form-field class="short_field">
    <mat-label>Długość 2000</mat-label>
    <input matInput type=text name="Y_2000" id="Y_2000" value="{{ point.X_2000 | number: '.4' : 'fr' | toDot}}"
           readonly>
  </mat-form-field>

  <mat-form-field class="short_field">
    <mat-label>Szerokość 2000</mat-label>
    <input matInput type=text name="X_2000" id="X_2000" value="{{ point.Y_2000 | number: '.4' : 'fr' | toDot}}"
           readonly>
  </mat-form-field>

  <!--lokalne-->
  <div class="location_container">
    <i class="material-icons icon_place">place</i>
    <sub> lokalne</sub>
  </div>

  <mat-form-field class="short_field">
    <mat-label>Długość lokalna</mat-label>
    <input matInput type=text name="Y_local" id="Y_local" value="{{ point.X_local | number: '.4' }}" readonly>
  </mat-form-field>

  <mat-form-field class="short_field">
    <mat-label>Szerokość lokalna</mat-label>
    <input matInput type=text name="X_local" id="X_local" value="{{ point.Y_local | number: '.4' }}" readonly>
  </mat-form-field>


  <p>Typ osnowy: {{ point.controlType }}</p>
  <p>Klasa: {{ point.controlClass }}</p>
  <p>Numer katalogowy: {{ point.id }}</p>
  <p>H (AMSTERDAM): {{ point.hAmsterdam }}</p>
  <p>H (KRONSZTADT 86): {{ point.hKronsztadt }}</p>
  <p>Kraj: {{ point.country }}</p>
  <p>Województwo: {{ point.state }}</p>
  <p>Powiat: {{ point.district }}</p>
  <p>Gmina: {{ point.county }}</p>
  <p>Miejscowość: {{ point.locality }}</p>
  <p>Dzielnica: {{ point.city_district }}</p>
  <p>Ulica: {{ point.road }}</p>
  <p>Numer domu: {{ point.house_number }}</p>
  <p>Stabilizacja: {{ point.stabilization }}</p>
  <p>Punkt odnaleziono w terenie: {{ point.found }}</p>


  <!--<div class="pictureContainer" *ngFor="let image of images; let i = index">-->
  <!--<img id="pointPicture" [src]="'http://localhost:8000' + image.image">{{image.image}} <br/>-->
  <!--</div>-->

  <!--<img [src]="'http://localhost:8000' + '/media/images/20171128_132337.jpg'">-->
  <app-photos-display [imagess]="images" (scrollBarView)="openPreview($event)"></app-photos-display>

</div>
