@import "../../../sass/variables.scss";

.form_element {
  margin-bottom: 5px;

  label {
    display: inherit;
    margin-bottom: 5px;
    font-size: 15px;

    @media only screen and (max-width: 500px) {
      margin-top: 10px;
    }
  }
}

.short-width {
  width: 165px;

  @media only screen and (max-width: 500px) {
    width: 243px;
  }
}


.right {
  float: right;

  @media only screen and (max-width: 500px) {
    float: none;
  }
}


.localization {
  float: right;

  div {
    float: left;
    text-align: center;
    margin: 5px;
    margin-right: 15px;
  }
}

.locationSearching {
  :hover {
    cursor: pointer;
    color: $second-color;
  }
}
