<div class="header-side-container">
  <div class="main-header">
    <h1>Dodaj punkt</h1>
    <button mat-icon-button routerLink="/home">
      <mat-icon>close</mat-icon>
    </button>

  </div>

  <div class="bottom-line"></div>
</div>

<div class="detail-side-container">
  <form [formGroup]="pointForm" (ngSubmit)="onSubmit()">


    <!--Pierwsze wpisanie współrzędnych-->
    <ng-template #noCoordinate>
      <a>Współrzędne w układzie WGS84 lub 2000</a>
      <mat-form-field class="short-width" hintLabel="(np. 50.068436 lub 5548589.65)">
        <input [textMask]="{mask: mask, guide: false}" type="text" name="X" id="X"
               placeholder="X" matInput [(ngModel)]="point.X"
               formControlName="X" (blur)="inputCoordinateX()" (click)="outputCoordinateX()" required>
      </mat-form-field>
      <mat-form-field class="short-width right" hintLabel="(np. 19.921046 lub 7422760.20)">
        <input [textMask]="{mask: mask, guide: false}" type="text" name="Y" id="Y"
               placeholder="Y" matInput [(ngModel)]="point.Y"
               formControlName="Y" (blur)="inputCoordinateY()" (click)="outputCoordinateY()" required>
      </mat-form-field>
    </ng-template>

    <!--Ponowne wybranie współrzędnych-->
    <ng-container
      *ngIf="coordinateExistX && coordinateExistY && pointForm.get('X').valid && pointForm.get('Y').valid; else noCoordinate">
      <a>Współrzędne w układzie WGS84:</a>
      <mat-form-field class="short-width" hintLabel="(np. 50.068436)">
        <input [textMask]="{mask: mask, guide: false}" type="text" name="X_WGS84" id="X_WGS84"
               placeholder="X" matInput [ngModel]="point.X_WGS84 | number : '1.4-10'" (ngModelChange)="point.X_WGS84=$event"
               formControlName="X_WGS84" required>
      </mat-form-field>
      <mat-form-field class="short-width right" hintLabel="(np. 19.921046)">
        <input [textMask]="{mask: mask, guide: false}" type="text" name="X_WGS84" id="Y_WGS84"
               placeholder="Y" matInput [ngModel]="point.Y_WGS84 | number : '1.4-10'" (ngModelChange)="point.Y_WGS84=$event"
               formControlName="Y_WGS84" required>

      </mat-form-field>

      <label>Współrzędne w układzie 2000:</label>
      <mat-form-field class="short-width" hintLabel="(np. 5548589.65)">
        <input [textMask]="{mask: mask, guide: false}" type="text" name="X_2000" id="X_2000"
               placeholder="X" matInput [ngModel]="point.X_2000 | number : '1.4-10'" (ngModelChange)="point.X_2000=$event"
               formControlName="X_2000" required>
      </mat-form-field>
      <mat-form-field class="short-width right" hintLabel="(np. 7422760.20)">
        <input [textMask]="{mask: mask, guide: false}" type="text" name="X_2000" id="Y_2000"
               placeholder="Y" matInput [ngModel]="point.Y_2000 | number : '1.4-10'" (ngModelChange)="point.Y_2000=$event"
               formControlName="Y_2000" required>

      </mat-form-field>
    </ng-container>

    <!--Wybór lokalizacji-->
    <mat-hint style="float: right" align="end">
      <a href="">Wybierz z mapy</a>
      <a href=""> <i class="material-icons">location_searching</i>
      </a>
    </mat-hint>


    <div class="radio-group-container">
      <label id="typOsnowy">Typ osnowy:</label>
    </div>
    <div class="radio-button-container">
      <mat-radio-group [(ngModel)]="point.typOsnowy" formControlName="typOsnowy" aria-labelledby="typOsnowy">
        <mat-radio-button value="pozioma">Pozioma</mat-radio-button>
        <mat-radio-button value="wysokościowa">Wysokościowa</mat-radio-button>
        <mat-radio-button value="dwufunkcyjna">Dwufunkcyjna</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="radio-group-container">
      <label id="klasa">Klasa:</label>
    </div>
    <div class="radio-button-container">
      <mat-radio-group [(ngModel)]="point.klasa" formControlName="klasa" aria-labelledby="klasa">
        <mat-radio-button value="1">1</mat-radio-button>
        <mat-radio-button value="2">2</mat-radio-button>
        <mat-radio-button value="3">3</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Numer katalogowy" [(ngModel)]="point.numerKatalogowy" matInput
             formControlName="numerKatalogowy">
    </mat-form-field>

    <mat-form-field class="full-width">

      <input type="text" placeholder="Województwo" [(ngModel)]="point.woj" matInput formControlName="woj">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Powiat" matInput [(ngModel)]="point.powiat" formControlName="powiat">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Gmina" matInput [(ngModel)]="point.gmina" formControlName="gmina">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Współrzędne (lokalne)" matInput [(ngModel)]="point.X_local"
             formControlName="X_local">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="H (AMSTERDAM)" matInput [(ngModel)]="point.hAmsterdam"
             formControlName="hAmsterdam">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="H (KRONSZTADT 86)" matInput [(ngModel)]="point.HKronsztadt"
             formControlName="HKronsztadt">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Stabilizacja" matInput [(ngModel)]="point.stabilizacja"
             formControlName="stabilizacja">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Typ znaku" matInput [(ngModel)]="point.typZnaku" formControlName="typZnaku">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Punkt znaleziono" matInput [(ngModel)]="point.znaleziono"
             formControlName="znaleziono">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Stabilizacja" matInput [(ngModel)]="point.stabilizacja"
             formControlName="stabilizacja">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Typ znaku" matInput [(ngModel)]="point.typZnaku" formControlName="typZnaku">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="text" placeholder="Punkt znaleziono" matInput [(ngModel)]="point.znaleziono"
             formControlName="znaleziono">
    </mat-form-field>

    <button type="submit" mat-raised-button class="main-button">Zapisz</button>
  </form>
</div>
