<div class="form_element" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)">

  <label class="area" [ngStyle]="{'border': getBorderColor()}">
    <p>DODAJ ZDJĘCIE PUNKTU</p>
    <p>Kliknij w pole i wybierz zdjęcie z dysku</p>
    <p>na komputerze lub</p>
    <p>przeciągnij i upuść tutaj zdjęcie</p>

    <input type="file" multiple (change)="handleFileInput($event.target.files)">
  </label>

  <div class="pictureContainer" *ngFor="let image of files.imageUrls; let i = index">
    <button (click)="removePicture(i)">
      <span class="delete"><mat-icon>delete</mat-icon></span>
    </button>

    <img id="pointPicture" [src]=image> <br/>
  </div>
</div>
