.form_element {
  margin-bottom: 5px;

  label {
    display: inherit;
    margin-bottom: 5px;
    font-size: 15px;

    @media only screen and (max-width: 500px) {
      margin-top: 10px;
    }
  }
}

.full-width {
  width: 100%;
}
